body{

background:#000;
color:white;
font-family:Arial;
text-align:center;

}


.logo{

width:200px;
margin:30px;

}


.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
max-width:400px;
margin:auto;

}


button{

height:120px;
font-size:22px;
font-weight:bold;
background:#111;
color:white;
border:1px solid gold;
border-radius:15px;

}


#viewer img{

margin-top:40px;
max-width:95%;
max-height:80vh;

}
